<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Actas de Nominas</title>
    <style type="text/css">
#apDiv1 {
	position: absolute;
	left: 16px;
	top: 14px;
	width: 380px;
	height: 56px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	left: 440px;
	top: 13px;
	width: 513px;
	height: 60px;
	z-index: 2;
}
#apDiv3 {
	position: absolute;
	left: 46px;
	top: 220px;
	width: 912px;
	height: 112px;
	z-index: 3;
}
</style>
</head>

<body>
<div id="apDiv1">Empresa S.A de C.V</div>
<div id="apDiv2">
    <p>CFDI de Nómina</p>
    <p>Fecha:</p>
</div>
<div id="apDiv3">
    <table width="912" height="59" border="1">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Monto</th>
            <th scope="col">ISR</th>
            <th scope="col">Codigo Trabajador</th>
            <th scope="col">Trabajador</th>
            <th scope="col">Retardos</th>
            <th scope="col">Sueldo</th>
        </tr>
        <tr th:each="nomina:${nominas}">
            <td th:text="${nomina.id_nomina}"></td>
            <td th:text="${nomina.fechaNomina}"></td>
            <td th:text="${nomina.trabajadorModel.sueldo}/2"></td>
            <td th:text="${nomina.isr}"></td>
            <td th:text="${nomina.trabajadorModel.numero_trabajador}"></td>
            <td th:text="${nomina.trabajadorModel.nombre_trabajador}"></td>
            <td th:text="${nomina.nomina_trabajador}"></td>
        </tr>
    </table>
</div>
</body>
</html>
