<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Actas de Nominas</title>
    <link rel="stylesheet" type="text/css" href="../pdf-resources/css/nominaStyle.css" />
</head>
<body>
<!--Encabezado principal-->
<div class="intro">
    <div class="bg-image h-100" style="background-color: transparent;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <br><br>
                <!--Titulo-->
                <h2 style="color: #000;">
                    Lista de Nominas
                </h2>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nomina</th>
            <th scope="col">ISR</th>
            <th scope="col">Trabajador</th>
            <th scope="col">Numero Trabajador</th>
            <th scope="col">Nomina</th>
        </tr>
        </thead>
        <tbody class="row_cuerpo">
        <tr th:each="nomina:${nominas}">
            <td th:text="${nomina.id_nomina}"></td>
            <td th:text="${nomina.fechaNomina}"></td>
            <td th:text="${nomina.trabajadorModel.sueldo}/2"></td>
            <td th:text="${nomina.isr}"></td>
            <td th:text="${nomina.trabajadorModel.numero_trabajador}"></td>
            <td th:text="${nomina.trabajadorModel.nombre_trabajador}"></td>
            <td th:text="${nomina.nomina_trabajador}"></td>
        </tr>
        <tbody>
    </table>
</div>
</body>
</html>

