<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../pdf-resources/css/Navigation-Clean.css" type="text/css">
    <link rel="stylesheet" href="../pdf-resources/css/styles.css" type="text/css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">Nombre de la empresa</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#"></a></li>
                <li class="nav-item"><a class="nav-link" href="#" th:text="${vacacion.id_vacacion}"></a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
        <img></div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Datos del Trabajador</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="form-label">Nombre:</label><label class="form-label" th:text=${vacacion.trabajadorModel.nombre_trabajador}"></label>
        </div>
        <div class="col-md-3"><label class="form-label">Puesto:</label><label class="form-label" th:text="${vacacion.trabajadorModel.puesto}"></label>
        </div>
        <div class="col-md-3"><label class="form-label">#</label><label class="form-label" th:text="${vacacion.trabajadorModel.numero_trabajador}"></label></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Fecha Solicitdada</h1></div>
    </div>
    <div class="row">
        <div class="col-md-6"><label class="form-label">Fecha Inicio:</label><label
                class="form-label" th:text=${vacacion.fecha_inicio}"></label></div>
        <div class="col-md-6"><label class="form-label">Fecha Fin:</label><label class="form-label" th:text="${vacacion.fecha_fin}"></label>
        </div>
    </div>
</div>
</body>
</html>

